div{
    display:inline-block;
}

div canvas{
    background-color:lightgrey;
    border:1px solid;
}
div form{
    float:right;
    margin-left:2em;
    background-color:lightblue;
    padding:1em 2em;
}

div form input{
    width:15em;
}
div form h2{
    text-align: center;
    margin-top:0;
}