@font-face{
    font-family:"Bomberman";
    src:url(../fonts/Bomberman/bm.ttf);
}

div{
    display:inline-block;
}

div canvas{
    /*background-color:lightgrey;*/
    border:1px solid;
}
div form{
    float:right;
    margin-left:2em;
    background-color:lightblue;
    padding:1em 2em;
}

div form input{
    width:15em;
}
div form h2{
    text-align: center;
    margin-top:0;
}

#map-canvas,#table-players{
    float: left;
}

/* INDEX */
h1{
    font-family:"Bomberman";
    text-align: center;
    font-size: 60px;
    border: 5px solid red;
    background-color: white;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

body{
    background-color: #d1d1d1;

}


#map-canvas{
    margin-left: 50px;
}

#table-players{
    margin-left: 100px;
    width: 300px;
    background-color: white;
    border: 12px solid black;
}

#table-players thead th{
    font-family:"Bomberman";

}

#table-players tbody td{
    font-family:"Arial";

}