@font-face{
    font-family:"Bomberman";
    src:url(fonts/Bomberman/bm.ttf);
}

#joystick {
    /*    z-index: 14;
    width: 110px;
    height: 110px;
    bottom: 130px;
    left: 11px;
    font-size: 102px;
    font-family: Oxygen,Helvetica,arial,sans-serif;
    line-height: 44px;
    text-indent: 43px;
    color: #222;
    /* -webkit-animation: joystick 8s infinite linear,joystick 8s infinite linear; */
    /* animation: joystick 8s infinite linear,joystick 8s infinite linear; */

    width: 300px;
    height: 300px;
    position: relative;
    display: inline-block;
    width: 50%;
}

#gamepad{
    position: relative;
    white-space: nowrap;
}

#control-b {
    right: 97px;
    bottom: 156px;
    -webkit-animation: control-b 8s infinite linear,control-b 8s infinite linear;
    animation: control-b 8s infinite linear,control-b 8s infinite linear;
}
.control-button {
    position: absolute;
    z-index: 14;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: transparent;
    text-shadow: 0 0 1px #222;
    line-height: 38px;
    font-size: 25px;
}

#control-a {
    /*    right: 34px;*/
    /*    bottom: 176px;*/
    -webkit-animation: control-a 8s infinite linear,control-a 8s infinite linear;
    animation: control-a 8s infinite linear,control-a 8s infinite linear;
}

.one-direction{
    background: grey;
    position: relative;
    text-align: center;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 15px;
}

.controler{
    display: inline-block;
    position: absolute;
    top: 0;
    height: 300px;
    width: 50%;
}
#control-a{
    width: 200px;
    margin: auto;
    text-align: center;
    background-color: red;
    height: 200px;
    border-radius: 50%;
    line-height: 200px;
    color: white;
    font-family:"Bomberman";
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
#joystick-vertical{
    transform: rotate(90deg);
}

#gamepad .fa{
    font-size: 102px;
    width: 100px;
}

#gamepad .fa-caret-left{
    position: absolute;
    left: 0px;
}
#gamepad .fa-caret-right{
    position: absolute;
    right: 0px;
}

@media screen and (max-width: 600px){
    #joystick{
        display: block;
        width: 300px;
        transform: rotate(90deg);
        margin: auto;
        margin-bottom: 50px;
    }
    .controler{
        display: block;
        position: static;
        width: 100%;
    }
    #control-a{
        position: static;  
        transform: rotate(90deg);


    }
}